<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Reviews</title>
	<link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
	<form th:method="post" th:action="@{/}" th:object="${review}">
		<label for="restaurant">Select Restaurant:</label>
		<select id="restaurant" th:field="*{restaurantId}">
			<option th:each="res : ${restaurants}" th:text="${res.restaurantName}" th:value="${res.restaurantId}"></option>
		</select><br>
		<label for="rating">Rating:</label>
		<input type="number" id="rating" name="rating" step="0.1" min="0.0" max="5.0" th:field="*{rating}" required><br>
		<label for="review">Review (up to 300 characters):</label>
		<textarea id="review" type="text" maxlength="300" rows="4" cols="50" th:field="*{reviewText}" required></textarea><br>
		<input type="submit" value="Submit Review">
	</form>
	<a th:href="@{/}">Get Back</a>
</body>

</html>